      
     <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">

      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li {{graph currentPage}} >
            <a class="nav-link" href="/admin">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li {{user currentPage}}>
            <a class="nav-link" href="/admin/user">
              <i class="material-icons">person</i>
              <p>Users Details</p>
            </a>
          </li>
          <li {{products currentPage}}>
            <a class="nav-link" href="/admin/products">
              <i class="material-icons">content_paste</i>
              <p>Products Details</p>
            </a>
          </li>
          <li {{orders currentPage}}>
            <a class="nav-link" href="/admin/orders">
              <i class="material-icons">library_books</i>
              <p>Orders</p>
            </a>
          </li>
          <li {{coupons currentPage}}>
            <a class="nav-link" href="/admin/coupons">
              <i class="material-icons">bubble_chart</i> 
              <p>Coupons</p>
            </a>
          </li>
         <li {{offers currentPage}}>
            <a class="nav-link" href="/admin/addOffers">
              <i class="material-icons">library_books</i>
              <p>Add Offers</p>
            </a>
          </li>

        </ul>
      </div>
    </div> 
   
  