
<!-- banner -->
<div class="page-head">
	<div class="container">
		<h3>Check Out</h3>
	</div>
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
	<div class="container">
		
		{{!-- <h1>{{userId}}ll</h1> --}}
		<h3>My Shopping Bag</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table class="timetable_sub">
				<thead>
					<tr>
						<th>Remove</th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Product Name</th>
						<th>Price</th>
					</tr>
				</thead>
				{{#each products}}

				<tr class="rem1">
					<td class="invert-closeb">
						<div class="rem">
							<span  id="{{this.products._id}}1"onclick="changeQty('{{this._id}}','{{this.products._id}}','{{../userId}}',22)"><div class="close1"></div></span>
						</div>
						
					</td>

					<td class="invert-image"><a href="/singelview/{{this.products._id}}"><img src="/images/admin/img/product-images/{{this.products._id}}_1.jpg" alt=" " class="img-responsive" /></a></td>
					<td class="invert">

						<div class="quantity">
							<div class="quantity-select">
								<div class="entry value-minus"  
								onclick="changeQty('{{this._id}}','{{this.products._id}}','{{../userId}}',-1)"></div>
								<div class="entry value"><span  id="{{this.products._id}}">{{this.quantity}}</span></div>
								<div class="entry value-plus active"
									onclick="changeQty('{{this._id}}','{{this.products._id}}','{{../userId}}',1)"></div>
							</div>
						</div>
					</td>

					<td class="invert">{{this.products.title}}</td>
					<td class="invert">₹{{this.products.offer}}</td>
				</tr>

				{{/each}}

			</table>
		</div>
		<div class="checkout-left">

			<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
				<a href="/view-orders"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Track Orders</a>
			</div>
			<div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
				<h4>Shopping basket</h4>
				<ul>{{#each products}}
					{{!-- <li>{{this.products.brand}}<i>-</i> <span>$45.99</span></li> --}}
					
					{{/each}}
					<li>Total <i>-</i> <span id="total">Rs:{{totalamount.total}}</span></li>
					<li style="float: right;" ><a href="/placeorder"class="item_add single-item hvr-outline-out button2">PLACE ORDER</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //check out -->

 
 <script>
	 function changeQty(cartId,proId,userId,count){
       quantity=parseInt(document.getElementById(proId).innerHTML)
		console.log(userId,'jjjjmmmm')
		$.ajax({
			url:'/change-product-quantity',
			data:{
				userId:userId,
				cart:cartId,
				product:proId,
				count:count,
				quantity:quantity
			},
			method:'post',
			success:(response)=>{
				console.log(response)
				if(response.removeProduct){
					alert("Product removed from Cart")
					location.reload()
				}else{

					if(count==22){
						location.reload()
					}else{
						
						document.getElementById(proId).innerHTML=quantity+count
						document.getElementById('total').innerHTML=response.total
						document.getElementById('toptotal').innerHTML=response.total
					}
					
				}
			}
		})
		 
		 
		
	 }
 </script>



