
<!-- banner -->
<div class="page-head">
	<div class="container">
		<h3>Single</h3>
	</div>
</div>
<!-- //banner -->
<!-- single -->
<div class="single">
	<div class="container">
		<div class="col-md-6 single-right-left animated wow slideInUp animated" data-wow-delay=".5s"
			style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					<!-- FlexSlider -->
					<script>
						// Can also be used with $(document).ready()
						$(window).load(function () {
							$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
							});
						});
					</script>
					<!-- //FlexSlider-->

					<ul class="slides">
						<li data-thumb="/images/admin/img/product-images/{{products._id}}_1.jpg">
							<div class="thumb-image"> <img src="/images/admin/img/product-images/{{products._id}}_1.jpg"
									data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/images/admin/img/product-images/{{products._id}}_2.jpg">
							<div class="thumb-image"> <img src="/images/admin/img/product-images/{{products._id}}_2.jpg"
									data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/images/admin/img/product-images/{{products._id}}_3.jpg">
							<div class="thumb-image"> <img src="/images/admin/img/product-images/{{products._id}}_3.jpg"
									data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="/images/admin/img/product-images/{{products._id}}_4.jpg">
							<div class="thumb-image"> <img src="/images/admin/img/product-images/{{products._id}}_4.jpg"
									data-imagezoom="true" class="img-responsive"> </div>
						</li>
					</ul>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated"
			data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
			<h3>{{products.title}}</h3>
			<h4 style="margin-top:7px; float: left;">{{products.brand}} &ensp; <h5
					style="padding-left: 10px; margin-top:10px; color:#FDA30E;">{{products.category}}</h5>
			</h4>
			<p><span class="item_price">₹{{products.offer}}</span> <del>- ₹{{products.price}}</del></p>
			<div class="description">
				<h5>{{products.details}}</h5>
			</div>
			<div class="color-quality">
				<div class="color-quality-right">
					<h5>Size</h5>
					<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
						{{#each products.size}}
						<option value="null">{{this}}</option>
						{{/each}}
					    {{sizenot products.size}}
					</select> 
				</div>
			</div>
		 <div class="occasional">
				<h5>Colors :</h5>
			<div class="clearfix">
			<div class="container">
				<h3>Not Available</h3>

			</div>	
		     </div>
			 </div> 
			 
		
			<div class="occasion-cart">
				
				<a style="margin-left: 20px; background-color:#fff; color: #FDA30E;" onclick="addToCart('{{proId}}')" href="#" class="item_add hvr-outline-out button2">Add to cart</a>
			    <a style="margin-left: 20px;" href="/buynow,{{products._id}}" class="item_add hvr-outline-out button2">Buy Now</a>
			</div>

		</div>
		<div class="clearfix"> </div>

	
	</div>
</div>
<!-- //single -->

 <script>

		function addToCart(proId) {
			$.ajax({
				url: '/addtocart/' + proId,
				method: 'get',
				success: (response) => {
					if (response.status) {
						let count = $('#CartCount').html()
						count = parseInt(count)
						count = count + 1
						document.getElementById('CartCount').innerHTML = count
                       console.log(response.total[0].total)
                        document.getElementById('toptotal').innerHTML=response.total[0].total
						alert('Item add to Cart')

					}

				}
			})
		}


	</script> 